
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html {
  font-size: 16px; /* 16px * 62.5 = 10px = 1rem */
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

p,
ul,
li,
i {
  font-size: 1em;
  font-family: 'Roboto', 'sans-serif';
}

.balsamiqsans{
  font-family: 'Balsamiq Sans', cursive;
}

nav {
  background-image: url("./images/nav/Wood-Background.jpg");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: green;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: #93aa3b;
  font-family: 'Balsamiq Sans', cursive;
}

.navBar a{
  text-decoration: none;
  color:#593C26;
  font-family: 'Balsamiq Sans', cursive;
}

.browntext{
  color:#593C26;
}

.whitetext{
  color: white;
}

.greentext{
  color: #93aa3b;
}

a{
  text-decoration: none;
}

.aboutContainer{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0rem;
}

.aboutDiv{
  max-width: 45%;
  padding: 2rem 2rem;
}

.aboutDiv img{
  width: 100%;
  border-radius: 24px;
}

.paraforabout{
  padding: 1rem 0rem;
}

.centerThisOneDiv{
  margin: 0 auto;
}

.centertext{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.centeraligntext{
  text-align: center;
}

.logo{
  height: 50%;
  display: flex;
  justify-self: center;
  align-self: center;
}

.sectionOne{
  display: flex;
  justify-content: space-evenly;
}

.imagesize{
  max-width: 100%;
  height: auto;
}

.divOne{
  max-width: 50%;
  height: auto;
  overflow: hidden;
}

.divTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greatTaste{
  background-color: #000000;
  color: white;
}

.greattastelogo{
  width: auto;
  max-height: 5rem;
  height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}

.productsSection{
  background-color: #F8F1E1;
  padding: 2rem 0rem;
}

.eggproductsection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0rem;
  width: 90%;
  margin: 0 auto;
}

.home-recipe-image-div{
  max-width: 30%;
  margin: 1rem auto;
}

.home-recipe-image-div:hover {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.recipeDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem 0rem; 
}

.recipesSection{
  background-color: #93aa3b;
  padding: 2rem;
  color: white;
}

.whitetext{
  color: white;
}

.imageForRecipe{
  max-width: 100%;
  border-radius: 6px;
  overflow: hidden;

}

.divToGiveBorder{
  border-radius: 24px;
  overflow: hidden;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.eggImage{
  max-width: 40%;
  height: auto;
}

img{
  border-radius: 12px;
}

.eggtext{
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.centertext{
  margin: 0 auto;
}

.greattastesection{
  border: 2px solid black;
  padding: 2rem;
  width: 80%;
  margin: 2rem auto;
}

.hometext{
  width: 70%;
}

.blackbackground{
  background-color: black;
  color: white;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}

.image-section-at-bottom{
  display: flex;
  flex-direction: row;
}

.image-section-at-bottom img{
  max-width: 25%;
  border-radius: 0px;
  height: auto;
}

.board{
  background-image: url('/images/nav/Wood-Background.jpg');
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

.contactSection{
  /* background-color: #F8F1E1; */
  padding: 2rem 0rem;
}

form{
  padding: 3rem 0rem;
}

.findusSection{
  background-color: #F8F1E1;
  padding: 2rem 0rem;
}

footer{
  background-color: #93aa3b;
}

.container{
  display: flex;
  color: white;
  width: 90%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
}

iframe{
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 1rem 1rem;
}

.eggsandveg{
  width: 50%;
}

.instore-display-image{
  max-width: 40%;
}

.hensSection{
  /* background-color: #93aa3b; */
  padding: 1rem 0rem 0rem 0rem;
}

.footerBox{
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0rem;
}

.listItems{
  display: flex;
  flex-direction: column;
}

.contactUsText{
  max-width: 80%;
  margin: 2rem auto;
}

.sendButton{
  background-color: #93aa3b;
  border-radius: 12px;
  border: 2px solid grey;
  padding: 1rem .5rem;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.white{
  color: white;
}

.footerimage{
  width: 100%;
  background-color: white;
}



@media only screen and (max-width: 768px) {
  .sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .divOne{
    max-width: 100%;
  }

  .divTwo{
    max-width: 100%;
  }

  .instore-display-image{
    max-width: 90%;
  }

  .eggsandveg{
    width: 90%;
  }

  #invert{
    display: flex;
    flex-direction: column-reverse;
  }

  .imagesize{
    max-width: 100%;
  }

  .hometext{
    width: 90%;
    margin: 0 auto;
  }  

  .board{
    width: 90%;
  }

  .eggproductsection{
    display:flex;
    flex-direction: column;
  }

  .unordered-list{
    max-width: 80%;
  }

  .aboutDiv{
    max-width: 100%;
    padding: 2rem 2rem;
  }


  .recipeDiv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }  

  .home-recipe-image-div{
    max-width: 40%;
    padding: 0rem 1rem;
  }

  .image-section-at-bottom{
    flex-wrap: wrap;
  }

  .image-section-at-bottom img{
    max-width: 50%;
    height: auto;
  }

  .imageForRecipe{
    max-width: 100%;
    border-radius: 12px;
  }

  .eggImage{
    max-width: 90%;
  }

  .eggtext{
    width: 90%;
    margin: 0 auto;
  }

  .footerBox{
    display: flex;
    flex-direction: column;
  }
}
